.edit-card {
  padding-top: 15%;
  padding-left: 25%;
  padding-right: 25%;
}
.card-border {
  display: flex;
  justify-content: center;
  background-color: beige;
}
mat-card-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* user-add.component.css */
form {
  max-width: 600px; /* Ajustez la largeur maximale du formulaire selon vos besoins */
  margin: auto;
}

mat-form-field {
  width: 100%;
}
