<div class="edit-card">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-header class="card-border">
                <mat-card-title>
                    <strong>EDIT USER</strong>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="name">Name</mat-label>
                        <input matInput type="text" id="name" formControlName="name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="occupation">Occupation</mat-label>
                        <input matInput type="text" id="occupation" formControlName="occupation">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="email">Email</mat-label>
                        <input matInput type="email" id="email" formControlName="email">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="bio">Bio</mat-label>
                        <textarea matInput id="bio" formControlName="bio"></textarea>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-footer class="card-border ">
                <mat-card-actions class="edit-footer">
                    <button mat-flat-button type="submit" class="primary">Submit</button>
                    <button mat-flat-button [routerLink]="['']">Back to user list</button>
                </mat-card-actions>
            </mat-card-footer>
        </mat-card>
    </form>
</div>