<div class="info-card">
    <mat-card *ngIf="user">
        <mat-card-header class="card-border"><mat-card-title><strong>USER DETAILS</strong>
            </mat-card-title></mat-card-header>
        <mat-card-content>
            <mat-card-title>
                <p><strong>Name :</strong> {{ user.name }}</p>
            </mat-card-title>
            <mat-card-title>
                <p><strong>Email :</strong> {{ user.email }}</p>
            </mat-card-title>
            <mat-card-title>
                <p><strong>Occupation :</strong> {{ user.occupation }}</p>
            </mat-card-title>
            <mat-card-title>
                <p><strong>Bio :</strong> {{ user.bio }}</p>
            </mat-card-title>
        </mat-card-content>
        <mat-card-footer class="card-border"><mat-card-actions><button mat-flat-button [routerLink]="['']">Back to
                    user
                    list</button></mat-card-actions></mat-card-footer>
    </mat-card>
</div>