<div class="list-header">
    <p><strong>USER LIST</strong></p>
</div>



<div class="user-list-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
    </mat-form-field>
    <button mat-raised-button color="primary" [routerLink]="['/add']">
        Create User
    </button>
</div>

<div class="user-list-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Occupation Column -->
        <ng-container matColumnDef="occupation">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Occupation </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.occupation}} </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="viewDetails">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary" [routerLink]="['/user', row.id]">
                    Détails
                </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="editUser">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary" [routerLink]="['/update', row.id]">
                    Editer
                </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-flat-button color="warn" (click)="deleteUser(row.id)">
                    Supprimer
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>