.list-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: beige;
  font-family: "Lucida Console", "Courier New", monospace;
}

.user-list-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.user-list-header {
  min-height: 64px;
  padding: 8px 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
